.content-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(27.5em, 1fr));
}

.grid-item {
    animation: fadeIn .4s ease-in;
     
    & a {text-decoration: none;}
}

.grid-photo {
    width: 100%;
    border-radius:.5rem;
    border: $border-black;
    transition: all .2s;
   

    &--label {
        margin-top: .5rem;
        font-size: 2.5rem;
        letter-spacing: -.2rem;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-family: 'Fira Mono', monospace;
    }

    &:hover {
        transform: translateY(-.3rem) scale(1.02);
        box-shadow: .5rem .5rem .3rem #77c9d4;
    }

    &:active {
        transform: translateY(-.1rem);
    }
}





