.content-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(27.5em, 1fr));
}

.grid-item {
    animation: fadeIn .4s ease-in;
     
    & a {text-decoration: none;}
}

.grid-photo {
    
    @include photoEl;
    
    &--label {
        margin-top: .5rem;
        font-size: 2.5rem;
        letter-spacing: -.2rem;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-family: 'Fira Mono', monospace;
    }

    &:hover {
        @include gridHover;
    }

    &:active {
        transform: translateY(-.1rem);
    }

}

// Turns jpg's into gif's

// Parent element
.gif {
    position: relative;
}

    .static {
        position: absolute;
    }

    .gif:hover .static {
        opacity: 0;
    }

    .gif:hover .active {
        @include gridHover;
    }