@media (max-width: 640px) {
	
	.bio__content,
	.main-body {
		margin: 0 !important;
		width: auto !important;
	}

	#biophoto {
		width: 90%;
		float: none;
		margin: 0 auto 1.5rem auto;
	}

	header h1 {
		font-size: $font-size-lg;
	}

}