$font-size-sm: 1.6rem !important;
$font-size-def: 1.8rem !important;
$font-size-lg: 3.2rem !important;
$font-size-xl: 4.5rem !important;

$color-primary: #102E7F;
$color-primary-light: #6D94FF;

$color-link: red;
$color-link-hover: $color-primary-light;

$border-black: .1rem solid black;