.bio__content {
    background: white;
    padding: 2rem 4rem;
    margin: 1rem auto;
    width: 60rem;
    text-align: center;
    animation: swoopDown .2s ease-in-out;


    // &__content {
    //     display: table-row;
    // }

    // &__text,
    // &__img {
    //     // padding: 0 2rem;
    //     width: 50%;
    //     display: table-cell;
    // }

   
    
}

#biophoto {
    float: right;
    width: 30rem;
    border: 1px solid black;
    border-radius: .3rem;
    margin: 0 0 3rem 3rem;
}