@keyframes presentName {
	0% {
		opacity: 0;
		transform: translateX(10rem) rotate(-50deg);
	}

	80% {
		opacity: .2;
		/* transform: translateX(-10px); */
	}

	100% {
		opacity: 1;
		transform: translateX(0) rotate(0deg);
	}
}

@keyframes slideLeft {
	0% {
		opacity: 0;
		transform: translateX(30rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes headSlide {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes menuSlide {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0);
	}
}

/* @keyframes swoopDown {
	0% {
		opacity: .3;
		transform: translateY(400px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
} */