h1 {
    font-family: 'Do Hyeon', sans-serif;
    font-size: $font-size-lg;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    background-image: linear-gradient(to right, $color-primary, $color-primary-light);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 2rem auto;
}

p {
    font-size: $font-size-def;
    line-height: 150%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: left;
}

.note {
    font-size: $font-size-sm;
    margin: 0 auto 1.5rem 0;
}

