.squareCorners {
    border-radius: 0;
}

.headSlide {
    animation: headSlide .4s ease-in-out;
}

.menuSlide {
    animation: menuSlide .4s ease-in-out;
}

.slideLeft {
    animation: slideLeft .3s ease-in-out;
}