*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media screen and (max-width: 800px) {
    html {
      font-size: 50%; } }

body {
  padding: 0;
  margin: 0; }

.kill-margin {
  margin: 0; }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.all {
  width: 120rem;
  text-align: center;
  display: flex; }
  @media (max-width: 120rem) {
    .all {
      width: 100vw; } }

.left {
  width: 40%;
  padding: 10rem 5rem;
  background: linear-gradient(to bottom, #0487bd, #05b5ff);
  animation: slideUp .5s ease-in-out;
  display: flex;
  flex-direction: column; }
  .left__img {
    margin: auto; }
    .left__img img {
      width: 80%;
      border-radius: 50%;
      border: 1px solid black;
      box-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc; }
  .left__heading {
    font-family: "IBM Plex Mono", monospace;
    font-size: 4.5rem;
    font-weight: 600;
    color: #000;
    margin: 3rem auto 1rem auto; }
  .left__text {
    font-family: "Source Code Pro", monospace;
    font-size: 2.6rem;
    font-weight: 400;
    color: #fff; }
  .left__icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 30px; }
    .left__icons:not(:last-child) {
      margin: 0 0 5rem 0; }
    .left__icons--img {
      height: 10rem; }
      .left__icons--img img {
        height: 100%;
        filter: drop-shadow(5px 5px 4px rgba(255, 255, 255, 0.5)); }
  .left__icon-text {
    text-align: left;
    margin: 0 0 5rem 0;
    justify-self: flex-start;
    display: flex;
    align-items: center; }
    .left__icon-text img {
      height: 8rem;
      margin: 0 3rem 0 0; }
  .left hr {
    width: 100%;
    color: #000;
    margin: 0 0 5rem 0; }

.right {
  width: 60%;
  padding: 10rem 5rem;
  background: linear-gradient(to top, #dfdfdf, #fff);
  animation: slideDown .5s ease-in-out; }
  .right__heading {
    width: 100%;
    border-bottom: 1px solid #c5c2c2;
    padding: 0 0 2rem 0;
    display: flex; }
    .right__heading:not(:first-child) {
      margin: 5rem 0 0 0; }
    .right__heading--icon {
      background-color: #c5c2c2;
      border-radius: 50%;
      width: 7rem;
      padding-bottom: 7rem;
      border: 1px solid black;
      position: relative; }
      .right__heading--icon img {
        width: 4rem;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .right__heading--text {
      font-family: "IBM Plex Mono", monospace;
      font-size: 4rem;
      font-weight: 400;
      color: #0487bd;
      margin: 0 0 0 3rem;
      align-self: center; }
  .right__listing {
    margin: 5rem 0 0 0;
    display: flex;
    flex-direction: column; }
    .right__listing--logo {
      height: 8rem;
      align-self: center; }
    .right__listing--box {
      width: 100%;
      padding: 2rem 2.5rem;
      border-radius: 7px;
      margin: 2rem 0 0 0;
      text-align: left;
      color: #fff; }
      .right__listing--box---upwork {
        background-color: #7edd56; }
      .right__listing--box---nm {
        background-color: #072a48; }
      .right__listing--box---hupy {
        background-color: #ce3f57; }
      .right__listing--box---northwestern {
        background-color: #5e3b8e; }
      .right__listing--box---cuw {
        background-color: #266da3; }
      .right__listing--box---title {
        font-size: 2.8rem;
        font-weight: 400;
        font-family: "Rubik", sans-serif;
        letter-spacing: 1px;
        margin: 0 0 1.8rem 0; }
      .right__listing--box---text {
        font-size: 2rem;
        font-weight: 300;
        font-family: "Rubik", sans-serif; }
        .right__listing--box---text a {
          text-decoration: none; }
          .right__listing--box---text a:hover {
            text-decoration: underline; }
        .right__listing--box---text span {
          font-weight: 600;
          color: #000; }
      .right__listing--box ul {
        margin: 0 0 0 2rem; }
        .right__listing--box ul li {
          margin: 0 0 1rem 0; }

.live-links:hover {
  filter: drop-shadow(5px 5px 4px rgba(255, 0, 0, 0.5));
  transform: scale(1.05); }

.live-links:active {
  transform: scale(1); }

@media screen and (max-width: 1100px) {
  .left {
    padding: 5rem 2rem; }
    .left__icon-text {
      flex-direction: column;
      text-align: center;
      margin: 0 0 3rem 0; }
      .left__icon-text img {
        margin: 0 0 2rem 0; }
  .right {
    padding: 5rem 2rem; } }

@media screen and (max-width: 650px) {
  .all {
    flex-direction: column; }
  .left, .right {
    width: 100vw; } }
