body {
  	background-image: url("../low_contrast_linen/low_contrast_linen.png");
  	padding: 0;
  	margin: 0;
}

/* HEADER */
	header {
		background: #083c5d;
		padding: 32px 0 20px 0;
	}

	header h1 {
		font-family: Georgia, Times, "Times New Roman", sans-serif;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 4px;
		margin: 0px;
		font-size: 45px;
		line-height: 120%;
		/*padding: 10px 0px;*/
		color: white;
		text-shadow: 2px 2px 2px #77c9d4;
	}

	.main-menu {
		padding: 15px 10px;
		margin: 0px;
		text-align: center;
		background: #77c9d4;
	}

	.main-menu li {
		display: inline;
		padding: 0 20px 40px 20px;
		font-size: 20px;
		font-family: Georgia, Times, "Times New Roman", serif;
		text-shadow: 2px 2px #083c5d;
	}

	.main-menu a {
		text-decoration: none;
		padding: 8px;
		color: white;
	}

	.main-menu a:hover {
		color: black;
		text-shadow: none;
		font-weight: 500;
	}
/* End of HEADER */


/* FOOTER */
	#footer {
		background: white;
		text-align: center;
		padding: 20px 0;
	}

	#footer li {
		display: inline-block;
		padding: 0px;
	}

	.links {
		padding: 0;
		margin: 0;
	}


	.social {
		height: 100px;
		width: 100px;
		border-radius: 20px;
		padding: 20px;
	}

	.social:hover {
		background-color: rgba(119,201,212, .5);
	}
/* End of FOOTER */

/* MAIN CONTENT */
	.main-body {
		background: white;
		padding: 30px 20px;
		margin: 10px auto;
		max-width: 80%;
	}

	.main-body h1 {
		font-family: Georgia, Times, "Times New Roman", sans-serif;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 4px;
	}

	.content-grid {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
	}

	.grid-item {
		
	}

	.grid-photo {
		width: 100%;
		border-radius:5px;
		border: 1px solid black;
	}

	.grid-photo:hover {
		box-shadow: 5px 5px 3px #77c9d4;
	}	

	.squareCorners {
		border-radius: 0px;
	}


/* End of MAIN CONTENT */















/*Main section where content appears*/

.main-section {
	max-width: 80%;
  	background: white;
  	box-shadow: 2px 2px 2px #77c9d4;
  	border: 1px solid black;
  	border-radius: 5px;
  	padding: 20px 30px 30px 20px;
  	margin: 30px auto;
  	text-align: center;
}

.main-section h1 {
	text-align: center;
	/*margin-left: 25px;*/
	font-size: 35px;	
}	

#biophoto {
  	float: right;
  	width: 200px;
  	border: 1px solid black;
  	border-radius: 10px;
  	box-shadow: 2px 2px 2px #77c9d4;
  	margin: 0px 25px 25px 25px;
}

.main-section p {
	margin: 0px 25px;
}

/*End of main section*/

/*Social media links */



/*End of Connect With Me/Social Links*/

/*Creates grid on portfolio page*/

.portGrid {
	margin: 0 auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.portphoto {
/*  	height: 240px;
  	width: 320px;*/
  	text-align: center;
  	box-shadow: 7px 7px 2px rgba(0,0,0,.6);
  	border-radius: 10px;
  	display: flex;
}

.portphoto img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	border: 1.5px solid black;
}

figcaption {
	padding: 10px;
}

figcaption a {
	color: red;
}

figure {
	margin: 0 auto;
}

figure img {
	width: 100%;
	border: 1px solid black;
  	box-shadow: 5px 5px 2px rgba(0,0,0,.6);
  	border-radius: 10px;
}

.portphoto:hover {
	box-shadow: 7px 7px 5px #77c9d4;
}

figure img:hover {
	box-shadow: 5px 5px 2px #77c9d4;
}

.noHover:hover {
	box-shadow: 7px 7px 2px rgba(0,0,0,.6);
}

figcaption {
	font-family: "Lucida Console", Monaco, monospace;
	text-align: center;
}

h4 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

/*End of Grid*/


/*Medium media query*/

@media (max-width: 1200px) {
	
	#all {
		flex-direction: column;
		justify-content: normal;
		/*width: 100%;*/
	}

	.main-section {
		/*width: 70%;*/
		/*margin: 10px auto;*/
	}

	#portGrid {
		/*grid-gap: 20px;*/
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	}

	.connectwithme {
		/*width: 70%;*/
		margin: 10px auto;
		height: auto;
	}

	/*.social {
		height: 55px;
		width: 55px;
	}*/

}
/**/

/*Small media query*/

@media (max-width: 740px) {

		body {
			margin: 0px;
			padding: 0px;
			/*width: 100vw;*/
		}	
	
		#biophoto {
			float: none;
			margin: 20px auto;
		}

		.main-section {
			max-width: 100%;
			/*width: 100%;*/
			margin: 0px;
			border-radius: 0px;
			padding: 30px 40px;
		}

		.main-section p {
			margin: 0px;
		}

		#portGrid {
			/*grid-template-columns: auto;
			grid-template-rows: auto auto auto auto;*/
		}


		.portphoto {
  			height: 320px;
  			width: 400px;
			grid-column: 1;
		}
		.photoCap {
			grid-column: 1;
		}

		figure {
  			width: 400px;
			grid-column: 1;
		}

		figure img{
			height: 320px;
  			width: 400px;
		}

}