body {
  	background-image: url("../low_contrast_linen/low_contrast_linen.png");
  	padding: 0;
  	margin: 0;
}

/* HEADER */
	header {
		background: #102E7F;
		padding: 32px 0;
	}

	header h1 {
		font-family: 'Source Sans Pro', sans-serif;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 4px;
		margin: 0px;
		font-size: 45px;
		line-height: 120%;
		color: white;
		/*text-shadow: 2px 2px 2px #77c9d4;*/
	}

	.main-menu {
		padding: 15px 10px;
		margin: 0px;
		text-align: center;
		background: #6C94FF;
		opacity: .8;
	}

	.main-menu li {
		display: inline;
		padding: 0 20px 40px 20px;
		font-size: 20px;
		font-family: Georgia, Times, "Times New Roman", sans-serif;
		text-shadow: 2px 2px #083c5d;
	}

	.main-menu a {
		text-decoration: none;
		padding: 8px;
		color: white;
	}

	.main-menu a:hover {
		color: black;
		text-shadow: none;
		font-weight: 500;
	}
/* End of HEADER */

/* MAIN CONTENT */
	.main-body {
		background: white;
		padding: 20px 40px 30px 40px;
		margin: 10px auto;
		max-width: 70%;
		min-height: 300px;
		text-align: center;
	}

	.main-body h1 {
		font-family: Georgia, Times, "Times New Roman", sans-serif;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 4px;
	}

	.main-body p {
		font-size: 18px;
		line-height: 150%;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		text-align: left;
	}

	#biophoto {
		float: right;
		border: 1px solid black;
		border-radius: 3px;
		margin: 0 0 30px 30px;
	}

	.content-grid {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
	}

	.grid-item {
		
	}

	.grid-photo {
		width: 100%;
		border-radius:5px;
		border: 1px solid black;
	}

	.grid-photo:hover {
		box-shadow: 5px 5px 3px #77c9d4;
	}	

	.squareCorners {
		border-radius: 0px;
	}

	figcaption {
		padding: 10px;
		font-family: "Lucida Console", Monaco, monospace;
		text-align: center;
	}

	figcaption a {
		color: red;
	}
/* End of MAIN CONTENT */

/* FOOTER */
	#footer {
		background: #364A7F;
		text-align: center;
		padding: 20px 0;
	}

	#footer li {
		display: inline-block;
		padding: 0px;
	}

	.links {
		padding: 0;
		margin: 0;
	}

	.social {
		height: 100px;
		width: 100px;
		border-radius: 20px;
		padding: 20px;
	}

	.social:hover {
		background-color: rgba(119,201,212, .5);
	}
/* End of FOOTER */





/*Small media query*/

@media (max-width: 740px) {
	
	.main-body {
		margin: 0px;
		max-width: 100%;
	}

	#biophoto {
		float: none;
		margin: 0 auto;
	}

}
