@keyframes presentName {
  0% {
    opacity: 0;
    transform: translateX(10rem) rotate(-50deg); }
  80% {
    opacity: .2;
    /* transform: translateX(-10px); */ }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg); } }

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(30rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes headSlide {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

@keyframes menuSlide {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }

/* @keyframes swoopDown {
	0% {
		opacity: .3;
		transform: translateY(400px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
} */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to top, rgba(181, 183, 184, 0.8), transparent, rgba(119, 119, 119, 0.8)), url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/HVFIk0gZeivb57aza/videoblocks-the-city-online-abstract-futuristic-digital-city-cloud-connected-high-tech-background-seamless-loop-network-digital-technology-concept_sgv5hthse_thumbnail-full01.png");
  background-size: 100% 100%;
  background-attachment: fixed; }

h1 {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 3.2rem !important;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  background-image: linear-gradient(to right, #102E7F, #6D94FF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 2rem auto; }

p {
  font-size: 1.8rem !important;
  line-height: 150%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: left; }

.note {
  font-size: 1.6rem !important;
  margin: 0 auto 1.5rem 0; }

.squareCorners {
  border-radius: 0; }

.headSlide {
  animation: headSlide .4s ease-in-out; }

.menuSlide {
  animation: menuSlide .4s ease-in-out; }

.slideLeft {
  animation: slideLeft .3s ease-in-out; }

.bio__content {
  background: white;
  padding: 2rem 4rem;
  margin: 1rem auto;
  width: 60rem;
  text-align: center;
  border-radius: .3rem;
  border: 1px solid black;
  box-shadow: 2rem 2rem 5rem rgba(255, 165, 0, 0.5);
  animation: swoopDown .2s ease-in-out; }

#biophoto {
  float: right;
  width: 30rem;
  border: 1px solid black;
  border-radius: .3rem;
  margin: 0 0 3rem 3rem; }

figcaption {
  padding: 10px;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  font-size: 1.8rem !important; }
  figcaption a {
    color: red;
    text-decoration: none;
    display: block;
    margin-top: 5px;
    font-size: 1.6rem !important; }
  figcaption a:hover {
    color: #6D94FF; }

#footer {
  background: linear-gradient(to top, #7f3f20, rgba(127, 63, 32, 0.95), rgba(127, 63, 32, 0.85));
  text-align: center;
  padding: 20px 0; }
  #footer li {
    display: inline-block;
    padding: 0px; }

.links {
  padding: 0;
  margin: 0; }

.social {
  height: 100px;
  width: 100px;
  border-radius: 20px;
  padding: 20px;
  transition: all .1s; }
  .social:hover {
    filter: drop-shadow(0px 5px 10px red);
    transform: translateY(-3px) scale(1.1); }
  .social:active {
    transform: translateY(-1px) scale(1); }

.content-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(27.5em, 1fr)); }

.grid-item {
  animation: fadeIn .4s ease-in; }
  .grid-item a {
    text-decoration: none; }

.grid-photo {
  width: 100%;
  border-radius: .5rem;
  border: 0.1rem solid black;
  transition: transform .2s, box-shadow .2s; }
  .grid-photo--label {
    margin-top: .5rem;
    font-size: 2.5rem;
    letter-spacing: -.2rem;
    background-image: linear-gradient(to right, #6D94FF, #102E7F);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Fira Mono', monospace; }
  .grid-photo:hover {
    transform: translateY(-0.3rem) scale(1.02);
    box-shadow: .5rem .5rem .3rem #77c9d4; }
  .grid-photo:active {
    transform: translateY(-0.1rem); }

.gif {
  position: relative; }

.static {
  position: absolute; }

.gif:hover .static {
  opacity: 0; }

.gif:hover .active {
  transform: translateY(-0.3rem) scale(1.02);
  box-shadow: .5rem .5rem .3rem #77c9d4; }

header {
  background-image: linear-gradient(to top, #102E7F, #6D94FF);
  padding: 3.2rem 0; }
  header h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .4rem;
    margin: 0;
    font-size: 4.5rem !important;
    line-height: 120%;
    color: white; }

.main-menu {
  padding: 1.5rem 1rem;
  margin: 0;
  text-align: center;
  background: linear-gradient(to bottom, #6c94ff, rgba(108, 148, 255, 0.95), rgba(108, 148, 255, 0.65));
  opacity: .95; }
  .main-menu li {
    display: inline;
    padding: 0 2rem 4rem 2rem;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    text-shadow: .2rem .2rem #083c5d; }
  .main-menu a {
    text-decoration: none;
    padding: .8rem;
    color: white; }
  .main-menu a:hover {
    color: black;
    text-shadow: none;
    font-weight: 500; }

@media (max-width: 640px) {
  .bio__content,
  .main-body,
  .main-body {
    margin: 0 !important;
    width: auto !important;
    border-radius: 0;
    border: none; }
  #biophoto {
    width: 90%;
    float: none;
    margin: 0 auto 1.5rem auto; }
  header h1 {
    font-size: 3.2rem !important; }
  body {
    background-size: cover; } }

.main-body {
  background: white;
  padding: 2rem 4rem;
  margin: 1rem auto;
  width: 70%;
  text-align: center;
  border-radius: .3rem;
  border: 1px solid black;
  box-shadow: 2rem 2rem 5rem rgba(255, 165, 0, 0.5);
  animation: swoopDown .2s ease-in-out; }
