/*sets everything up in a grid layout*/

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  	font-size: 18px;
  	line-height: 34px;
  	padding: 0;
	margin: 0;
  	background-image: url("../low_contrast_linen/low_contrast_linen.png");
}

#all {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px 50px;
}

/*Header*/

header {
	width: 100%;
	height: 130px;
	border-radius: 5px;
	background-color: #083c5d;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

#yourname {
	width: 250px;
	height: 100px;
	box-shadow: 3px 3px 5px #77c9d4;
	border-radius: 10px;
	margin-left: 50px;
	background-color: white;
	grid-column: 1;
	display: flex;
	align-self: center;
}

#yourname h1 {
	margin: auto;
	line-height: 40px;
}

nav {
	grid-column: 2;
	display: grid;
	grid-template-columns: auto auto;
	margin-right: 5px;
	color: gray;
}

nav h1 {
	color: white;
	font-size: 20px;
	text-shadow: 1px 2px rgba(0,0,0,.6);
}

nav h1:hover {
	color: #77c9d4;
}

	/*center nav links within grid cells*/
	nav div {
		display: flex;
	}

	nav div a {
		margin: auto;
		text-decoration: none;
		text-shadow: 1px 1px rgba(0,0,0,.6);
	}
	/**/

/*End of Header*/

/*font sytling*/

h1, h2 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #083c5d;
  text-shadow: 1px 2px rgba(119,201,212,.6);	
}

h2 {
	font-size: 25px;
}
/*End of font styling*/

/*Main section where content appears*/

.main-section {
	width: 50%;
  	background: white;
  	box-shadow: 2px 2px 2px #77c9d4;
  	border: 1px solid black;
  	border-radius: 5px;
  	padding: 20px;
}

.main-section h1 {
	text-align: left;
	margin-left: 25px;
	font-size: 35px;	
}	

#biophoto {
  	float: right;
  	width: 200px;
  	border: 1px solid black;
  	border-radius: 10px;
  	box-shadow: 2px 2px 2px #77c9d4;
  	margin: 0px 25px 25px 25px;
}

.main-section p {
	margin: 0px 25px;
}

/*End of main section*/

/*"Connect With Me" / social media links */

.connectwithme {
	background-color: white;
	text-align: center;
	box-shadow: 2px 2px 2px #77C9D4;
	text-shadow: 1px 2px rgba(50, 140, 193,.6);
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	height: 200px;
}

#connectGrid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.connectwithme h2 {
	font-size: 30px;
	margin: 20px auto;
}

.social {
	height: 75px;
	width: 75px;
	border-radius: 20px;
	padding: 20px;
}

.social:hover {
	background-color: rgba(119,201,212, .5);
}

.icon {
	flex: 1;
}
/*End of Connect With Me/Social Links*/

/*Creates grid on portfolio page*/

.portGrid {
	margin: 0 auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
}

.portphoto {
/*  	height: 240px;
  	width: 320px;*/
  	text-align: center;
  	box-shadow: 7px 7px 2px rgba(0,0,0,.6);
  	border-radius: 10px;
  	display: flex;
}

.portphoto img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	border: 1.5px solid black;
}

.squareCorners {
	border-radius: 0px;
	box-shadow: 5px 5px 2px rgba(0,0,0,.6);
}

figcaption {
	padding: 10px;
}

figcaption a {
	color: red;
}

figure {
	margin: 0 auto;
}

figure img {
	width: 100%;
	border: 1px solid black;
  	box-shadow: 5px 5px 2px rgba(0,0,0,.6);
  	border-radius: 10px;
}

.portphoto:hover {
	box-shadow: 7px 7px 5px #77c9d4;
}

figure img:hover {
	box-shadow: 5px 5px 2px #77c9d4;
}

.noHover:hover {
	box-shadow: 7px 7px 2px rgba(0,0,0,.6);
}

figcaption {
	font-family: "Lucida Console", Monaco, monospace;
	text-align: center;
}

h4 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

/*End of Grid*/

/*Footer*/

footer {
	width: 100%;
	background: #083c5d;
	color: #ebebeb;
	font-family: serif;
	border-top: 8px solid #77c9d4;
	height: 100px;
	display: flex;
	margin-top: 20px;
}

footer div {
	margin: auto;
}
/**/

/*Medium media query*/

@media (max-width: 1200px) {
	
	body {
		width: 100%;
	}
	
	#all {
		flex-direction: column;
		width: 100%;
	}

	.main-section {
		width: 70%;
		margin: 10px auto;
	}

	#portGrid {
		grid-gap: 30px;
	}

	.connectwithme {
		width: 70%;
		margin: 10px auto;
		height: auto;
	}

	.social {
		height: 100px;
		width: 100px;
	}

	footer {
		grid-row: 4;
	}

}
/**/

/*Small media query*/

@media (max-width: 720px) {

		.main-section {
			width: 410px;
		}
		#portGrid {
			grid-template-columns: auto;
			grid-template-rows: auto auto auto auto;
		}

		nav {
			grid-template-columns: auto;
			grid-template-rows: auto auto;
		}

		#all h1 {
			text-align: center;
		}

		.portphoto {
  			height: 320px;
  			width: 400px;
			grid-column: 1;
		}
		.photoCap {
			grid-column: 1;
		}

		figure {
  			width: 400px;
			grid-column: 1;
		}

		figure img{
			height: 320px;
  			width: 400px;
		}

}
