.main-body {
    background: white;
    padding: 2rem 4rem;
    margin: 1rem auto;
    width: 70%;
    text-align: center;
    border-radius: .3rem;
    border: 1px solid black;
    box-shadow: 2rem 2rem 5rem rgba(orange, .5);
    animation: swoopDown .2s ease-in-out;
}