*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
}

$font-head: 'Quicksand', sans-serif;
$font-subhead: 'Source Code Pro', monospace;
$font-text: 'Rubik', sans-serif;
$font-info: 'IBM Plex Mono', monospace;

$color-primary: #0487bd;
$color-primary-light: #c2eaf4;
$color-grey-light: #dde0e1;
$color-grey-dark: #a0a0a0;

$border-standard: 1px solid black;

@mixin left-h2 {
    font-family: $font-subhead;
    color: black;
    font-size: 5rem;
    font-weight: 500;
}

@mixin left-text {
    font-family: $font-info;
    color: white;
    font-size: 2.8rem;
    font-weight: 400;
}

@mixin left-icon {
    width: 8rem;
    height: 8rem;
}

.container {
    border: 1.5rem solid $color-grey-dark;
    width: 120rem;
    margin: 0 auto;

    display: flex;
}

.left {
    width: 40%;
    background-color: $color-primary;
    padding: 2rem 3rem;

    display: flex;
    flex-direction: column;

    &__header {

        height: 30rem;
        width: 100%;
        display: flex;

        &--img {
            border-radius: 50%;
            width: 20rem;
            height: 20rem;
            border: .5rem solid white;
            margin: auto;
        }
    }
    // End of &__header

    &__heading {

        display: flex;
        align-items: center;

        & img {
            @include left-icon;
            margin-right: 2.5rem;
        }

        & h2 {
            @include left-h2;
        }
    }
    // End of &__heading

    &__text {
        @include left-text;
        margin: 1rem 0 2rem 0;

        & ul {
            margin-top: 2rem;
            list-style: none;
        }

        & li:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__contact {

        margin: 5rem 0;

        &--item {
            width: 100%;
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 3rem;
            }

            &-icon {
                
                margin-right: 2rem;

                & img {
                    @include left-icon;
                }
            }

            &-text {
                @include left-text;
                font-size: 3.5rem;
                font-weight: 500;
            }
        }
    }

    &__skills {

        margin-top: auto;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }
}
// End of .left

.right {
    width: 60%;
    padding: 2rem 3rem;

    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        flex-direction: column;

        &--name,
        &--title {
            align-self: center;
            font-family: $font-head;
            line-height: 100%;          
        }
        
        &--name {
            font-size: 7rem;
            font-weight: bold;
            margin-bottom: 1.5rem;
            color: black;
        }

        &--title {
            color: $color-primary;
            font-size: 3.5rem;
            font-weight: 500;
            margin-bottom: 2rem;
        }

        &--link {
            background-color: $color-grey-light;
            padding: 1rem;
            border: $border-standard;
            border-radius: 5px;       
            margin-bottom: 1rem;
            align-self: center;

                & a {
                    font-family: $font-head;
                    font-size: 1.5rem;
                    color: $color-primary;
                    text-decoration: none;
                    align-self: center;
                }

                &-icon {
                    width: 4rem;
                    height: 4rem;
                    margin-right: 1rem;
                }
            
            display: flex;         
        }
        // End of &--link
    }
    // End of &__header

    &__subsection {

        display: flex;
            margin: 2rem 0 0 0;
        
        &--icon {
            background-color: $color-primary-light;
            border-radius: 50%;
            border: $border-standard;
            padding: 1.5rem;
            margin-right: 5rem;
             
            & img {            
                width: 8rem;
            }
        }
        
        &--headline {
            font-family: $font-subhead;
            color: $color-primary;
            font-weight: 400;
            font-size: 5rem;
            align-self: center;
        }
    }
    
    &__listing {

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        &--history {

            display: flex;
            align-items: center;
            margin: 0 0 2rem 0;

            &-date {
                width: 3rem;
                font-family: $font-text;
                font-size: 3rem;
            }

            &-logo {
                margin: 0 auto;
                width: 30rem;

                & img {
                    width: 100%;
                }
            }
        }

        &--description {
            padding: 2rem;
            border-radius: 1rem;
            color: white;
            font-family: $font-text;

            & h2 {
                font-size: 4rem;
                font-weight: 400;
                margin-bottom: 1rem;
            }

            & ul {
                list-style: none;;
                font-weight: 300;
                font-size: 2rem;
                line-height: 1.5;
                letter-spacing: .5px;
            }

            & li:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
    // End of &__listing
    
}
// End of .right

.divider {
    width: 85%;
    margin: 0 0 3rem auto;
}