*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
}

$font-head: 'Quicksand', sans-serif;
$font-subhead: 'Source Code Pro', monospace;
$font-text: 'Rubik', sans-serif;
$font-info: 'IBM Plex Mono', monospace;

$color-primary: #0487bd;
$color-primary-light: #c2eaf4;
$color-grey-light: #dde0e1;
$color-grey-dark: #a0a0a0;

$border-standard: 1px solid black;

@mixin respond($breakpoint) {
        // 753px, nah 856px
    @if $breakpoint == sm {
        @media only screen and (max-width: 53.5em) {@content}; 
    }
        // 1007px
    @if $breakpoint == med {
        @media only screen and (max-width: 63em) {@content};
    }
        // 1200px
    @if $breakpoint == lg {
        @media only screen and (max-width: 74em) {@content};
    }
}

@mixin left-h2 {
    font-family: $font-subhead;
    color: black;
    font-size: 4.3rem;
    font-weight: 500;
    line-height: 1;
    
        @include respond(lg) {
            font-size: 3.8rem;
        }
        @include respond(med) {
            font-size: 3.5rem;
        }
        @include respond(sm) {
            font-size: 6rem;
        }
    
}

@mixin left-text {
    font-family: $font-info;
    color: white;
    font-size: 2.8rem;
    font-weight: 400;

        @include respond(lg) {
            font-size: 2.8rem;
        }

        @include respond(sm) {
            font-size: 3.5rem;
            color: $color-primary;
        }
}

@mixin left-icon {
    width: 8rem;
    height: 8rem;

        @include respond(lg) {
            width: 6rem;
            height: 6rem;
        }

        @include respond(sm) {
            width: 8rem;
            height: 8rem;
        }
}

.container {
    border: 1.5rem solid $color-grey-dark;
    width: 120rem;
    margin: 0 auto;

    display: flex;

        @include respond(lg) {
            width: 100vw;
            border: none;
        }

        @include respond(sm) {
            flex-direction: column-reverse;
        }
}

.left {
    width: 40%;
    background-color: $color-primary;
    padding: 2rem 3rem;

    display: flex;
    flex-direction: column;

        @include respond(med) {
            width: 40vw;
            border-right: $border-standard;
        }

        @include respond(sm) {
            width: 100vw;
            border-right: none;
            // border-top: $border-standard;
            padding: 4rem 3rem 2rem 3rem;
            background-color: $color-grey-light;
        }

    &__header {

        height: 30rem;
        width: 100%;
        display: flex;
        
            @include respond(sm) {
                display: none;
            }

        &--img {
            border-radius: 50%;
            width: 20rem;
            height: 20rem;
            border: .5rem solid white;
            margin: auto;

                @include respond(sm) {
                    display: none;
                }

        }
    }
    // End of &__header

    &__heading {

        display: flex;
        align-items: center;

            @include respond(med) {
                flex-direction: column;
            }

        & img {
            @include left-icon;
            margin-right: 2.5rem;
        }

        & h2 {
            @include left-h2;

                @include respond(med) {
                    text-align: center;
                }
        }
    }
    // End of &__heading

    &__text {
        @include left-text;
        margin: 1rem 0 2rem 0;

        & ul {
            margin-top: 2rem;
            list-style: none;
        }

        & li:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__contact {

        margin: 5rem 0;

        &--item {
            width: 100%;
            display: flex;
            align-items: center;

                @include respond(med) {
                    flex-direction: column;
                }

            &:not(:last-child) {
                margin-bottom: 3rem;
            }

            &-icon {
                
                margin-right: 2rem;

                & img {
                    @include left-icon;
                }
            }

            &-text {
                @include left-text;
                font-size: 3.2rem;
                font-weight: 500;

                    @include respond(lg) {
                        font-size: 2.8rem;
                    }

                    // @include respond(med) {
                    //     font-size: 2.8rem;
                    // }

                    @include respond(sm) {
                        font-size: 4rem;
                    }
            }
        }
    }

    &__skills {

        margin-top: auto;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }
}
// End of .left

.right {
    width: 60%;
    padding: 2rem 3rem;

    display: flex;
    flex-direction: column;

        @include respond(med) {
            width: 60vw;
            padding: 2rem 0 0 0;
        }

        @include respond(med) {
            width: 100vw;
        }

        @include respond(sm) {
            background-color: $color-grey-light;
        }

    &__header {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;

        @include respond(lg) {
            text-align: center;
        }

        &--name,
        &--title {
            align-self: center;
            font-family: $font-head;
            line-height: 100%;          
        }
        
        &--name {
            font-size: 7rem;
            font-weight: bold;
            margin: 0 0 1.5rem 0;
            color: black;
        }

        &--title {
            color: $color-primary;
            font-size: 3.5rem;
            font-weight: 500;
            margin-bottom: 2rem;
        }

        &--link {
            background-color: $color-grey-light;
            padding: 1rem;
            border: $border-standard;
            border-radius: 5px;       
            margin-bottom: 1rem;
            align-self: center;

                @include respond(sm) {
                    background-color: transparent;
                    border: none;
                }

                & a {
                    font-family: $font-head;
                    font-size: 1.5rem;
                    color: $color-primary;
                    text-decoration: none;
                    align-self: center;

                        @include respond(med) {
                            font-size: 1.2rem;
                        }

                        @include respond(sm) {
                            font-size: 1.8rem;
                        }
                }

                &-icon {
                    width: 4rem;
                    height: 4rem;
                    margin-right: 1rem;

                        @include respond(med) {
                            width: 3rem;
                            height: 3rem;
                        }

                        @include respond(sm) {
                            width: 5rem;
                            height: 5rem;
                        }
                }
            
            display: flex;         
        }
        // End of &--link
    }
    // End of &__header

    &__subsection {

        display: flex;
        margin: 2rem 0 0 0;

            @include respond(med) {
                flex-direction: column;
                text-align: center;
                margin: 2rem auto 0 auto;
            }
        
        &--icon {
            background-color: $color-primary-light;
            border-radius: 50%;
            border: $border-standard;
            padding: 1.5rem;
            margin-right: 5rem;

                @include respond(med) {
                    background-color: transparent;
                    border: none;
                    padding: 0;
                }
             
            & img {            
                width: 8rem;
            }
        }
        
        &--headline {
            font-family: $font-subhead;
            color: $color-primary;
            font-weight: 400;
            font-size: 5rem;
            align-self: center;
        }
    }
    
    &__listing {

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        &--history {

            display: flex;
            align-items: center;
            margin: 0 0 2rem 0;

                @include respond(med) {
                    flex-direction: column-reverse;
                }

            &-date {
                width: 3rem;
                font-family: $font-text;
                font-size: 3rem;

                    @include respond(med) {
                        width: auto;
                        font-size: 4rem;
                    }

                    @include respond(sm) {
                        width: auto;
                        font-size: 5rem;
                    }
            }

            &-logo {
                margin: 0 auto;
                width: 30rem;

                    @include respond(med) {
                        margin: 0 auto 2rem auto;
                    }

                & img {
                    width: 100%;
                }
            }
        }

        &--description {
            padding: 2rem;
            border-radius: 1rem;
            color: white;
            font-family: $font-text;

                @include respond(med) {
                    width: 100%;
                    border-radius: 0;
                    word-break: normal;
                    word-wrap: normal;
                }

                @include respond(sm) {
                    padding: 2rem 3rem;
                }

            & h2 {
                font-size: 4rem;
                font-weight: 400;
                margin-bottom: 1rem;
            }

            & ul {
                list-style: none;;
                font-weight: 300;
                font-size: 2rem;
                line-height: 1.5;
                letter-spacing: .5px;
            }

            & li:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
    // End of &__listing
    
}
// End of .right

.divider {
    width: 85%;
    margin: 0 0 3rem auto;

        @include respond(med) {
            width: 90%;
            margin: 0 auto 3rem auto;
        }
}